<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
    body{
        background: #444444;
        color: white;
    }
    </style>
</head>
<body>
    <h1>My file upload page</h1>
    <form action="/tacosAndBurritos" method="post" enctype="multipart/form-data">
        <input type="text" name="title" value="" placeholder="enter the title of the image">
        <br><br>
        <input type="file" name="tacoPicture">
        <br><br>
        <input type="submit">
    </form>
</body>
</html>